<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>244286748967-57vnt6920lm0n23m46m2kp72u7puh4ed.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.244286748967-57vnt6920lm0n23m46m2kp72u7puh4ed</string>
	<key>API_KEY</key>
	<string>AIzaSyCzSwO50zSy72i14zDOK7iMiaXC1HpSOCY</string>
	<key>GCM_SENDER_ID</key>
	<string>244286748967</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.siamdapp.driverapp</string>
	<key>PROJECT_ID</key>
	<string>redcar-5673e</string>
	<key>STORAGE_BUCKET</key>
	<string>redcar-5673e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:244286748967:ios:cc035fe9eb11823d</string>
	<key>DATABASE_URL</key>
	<string>https://redcar-5673e.firebaseio.com</string>
</dict>
</plist>